
    
<%- include('./partials/header') %>

<h1>Display Blogs</h1>
<a href="/blog/new">New</a>
<article>
 <% for(let blog of allBlogs){ %>
 <div>

 <h1><%=blog.id%></h1>
 <h2><%=blog.title%></h2>
 <h3><%=blog.author%></h3>
 <p><%=blog.comment%></p>
 <p> <a href="/blogs/<%=blog.id%>">Show</a> </p>

 </div>
 <% } %>
</article>




<%- include('./partials/footer') %>